altair                    5.5.0
astroid                   3.3.11
attrs                     25.3.0
blinker                   1.9.0
Brotli                    1.1.0
cachetools                6.2.0
certifi                   2025.8.3
cffi                      1.17.1
charset-normalizer        3.4.3
click                     8.3.0
colorama                  0.4.6
dill                      0.4.0
gitdb                     4.0.12
GitPython                 3.1.45
h2                        4.3.0
hpack                     4.1.0
hyperframe                6.1.0
idna                      3.10
importlib_metadata        8.7.0
isort                     6.0.1
Jinja2                    3.1.6
jsonschema                4.25.1
jsonschema-specifications 2025.9.1
MarkupSafe                3.0.2
mccabe                    0.7.0
narwhals                  2.5.0
networkx                  3.5
numexpr                   2.12.1
numpy                     2.3.3
packaging                 25.0
pandas                    2.3.2
pillow                    11.3.0
pip                       25.2
platformdirs              4.4.0
protobuf                  6.31.1
pyarrow                   21.0.0
pybase64                  1.4.2
pycparser                 2.22
pydeck                    0.9.1
pylint                    3.3.8
PySocks                   1.7.1
python-dateutil           2.9.0.post0
pytz                      2025.2
PyYAML                    6.0.2
referencing               0.36.2
requests                  2.32.5
rpds-py                   0.27.1
scipy                     1.16.2
setuptools                80.9.0
six                       1.17.0
smmap                     5.0.2
streamlit                 1.49.1
tenacity                  9.1.2
toml                      0.10.2
tomlkit                   0.13.3
tornado                   6.5.2
tqdm                      4.67.1
typing_extensions         4.15.0
tzdata                    2025.2
urllib3                   2.5.0
watchdog                  6.0.0
wheel                     0.45.1
win_inet_pton             1.1.0
zipp                      3.23.0
zstandard                 0.25.0