# Core dependencies
streamlit==1.49.1
pandas==2.3.2
numpy==2.3.3
networkx==3.5
scipy==1.16.2
numexpr==2.12.1
pybase64==1.4.2
tqdm==4.67.1

# Other direct or transitive dependencies
altair==5.5.0
matplotlib
pydeck==0.9.1